@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$colors: (
  primary: teal,
  accent: #FFF6BB,
);

$padding: 15px;
$border: 20px;

@function color($color-name){
  @return map-get($colors, $color-name)
}

html {
  height: 100%;
}

body{
  @extend html;
  
  font-family: 'ZCOOL KuaiLe', cursive;
  background: color(primary);
  margin: 20px;
}

ul {
  margin: 0;
  padding: 0;
  li {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lighten(color(accent), 5%);
  }
}

.select-list-item {
  display: inline-block;
  margin-left: max(10px);
}

button{ 
  color: primary;
}
.list{
  display: flex;
  flex-direction: row;
  align-content: left;
}

.list-item{
  display: flex;
  flex-direction: row;
}
.input-row{
  display: flex;
  flex-direction: row;
}
h1{
  font-family: 'Montserrat', sans-serif;
  padding: $padding;
  display: block;
  text-decoration: none;
  text-decoration: uppercase;
}

.things-to-do{
  clip-path: polygon(100% 0, 100% 100%, 48% 100%, 0 100%, 0 0);
  background-color: map-get($colors, accent );
  margin: 20px 10% 0 10%;
  padding: 20px;
  align-content: left;
  border-radius: $border;
}

.done{
  // clip-path: polygon(100% 0, 100% 100%, 48% 100%, 0 100%, 0 0);
  background-color: map-get($colors, accent );
  margin: 20px 0 0 10%;
  padding: 20px;
  align-content: right;
  border-radius: $border;
}

.hide{
  display: none;
}

.delete-list-item{
  margin: 0 0 0 .3em;
  color: red;
}

.completed{
  display: none;
}